@import '../../../../var.scss';

.container {
  display: flex;
  height: 10vh;
  background-color: $tertiary;
  justify-content: space-around;
  align-items: center;
  
  .home-btn {
    cursor: pointer;
    color: $primary;
    font-weight: bold;
  }
  .home-btn:hover,
  .invite-btn:hover {
    scale: 1.05;
  }
}
