@import '../../../../../../var.scss';
:host {
  width: 100%;
}

.column {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mid {
  justify-content: space-between;
  .table {
    display: flex;
    width: 80%;
    border-radius: 20px;
    background-color: $secondary;
    height: 100px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    div {
      font-weight: 700;
    }
  }
}
