@import '../../../../../../var.scss';
:host {
  width: 100%;
}

.column {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mid {
  .table {
    display: flex;
    flex: 3;
    border-radius: 20px;
    background-color: $secondary;
    height: 100px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    div {
      font-weight: 700;
    }
  }
  .right,
  .left {
    flex: 1;
  }
}
