<div class="container">
  <div class="column top">
    <app-choice-user-card
      *ngFor="let player of getPlayersFilter(playersTop)"
      [player]="player"
      [revealCards]="revealCards"
    ></app-choice-user-card>
  </div>
  <div class="column mid">
    <div class="left">
      <app-choice-user-card
      *ngFor="let player of getPlayersFilter(playersLeft)"
      [player]="player"
      [revealCards]="revealCards"
    ></app-choice-user-card>
    </div>
    <div class="table" >
      <app-button *ngIf="gameIsOver; else btnReveal" message="Start new game"></app-button>
      <ng-template #btnReveal>
      <app-button  *ngIf="buttonRevealCard; else pickCard" message="Reveal answers" (click)="showAnswers()"></app-button>
      </ng-template>
      <ng-template #pickCard > <div >{{ message }}</div></ng-template>
    </div>
    <div class="right">
      <app-choice-user-card
      *ngFor="let player of getPlayersFilter(playersRight)"
      [player]="player"
      [revealCards]="revealCards"
    ></app-choice-user-card>
    </div>
  </div>
  <div class="column bottom">
    <app-choice-user-card
      *ngFor="let player of getPlayersFilter(playersBottom)"
      [player]="player"
      [revealCards]="revealCards"
    ></app-choice-user-card>
  </div>
</div>
