@import '../../../../../../../../var.scss';
.card {
  cursor: pointer;
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $tertiary;
  border-radius: 11px;
  border: solid 2px $primary;
  .value {
    color: $primary;
    font-size: 20px;
    text-align: center;
  }
}
.card.selected:hover {
  color: $primary;
}
.card:hover {
  scale: 1.1;
  background-color: $white;
  color: $primary;
}
.selected {
  background-color: $primary;
  translate: 0 -10px;
  .value {
    color: $white;
  }
}
