@import '../../../../../../../../var.scss';

:host {
  font-weight: 900;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.card {
  background-color: $selected;
  height: 60px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  color: $primary;
  border: solid 2px $primary;
  .value {
    color: $white;
  }
}
p {
  margin: 5px 0;
}
