@import '../../../../../../../../var.scss';

:host {
  font-weight: 900;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: $notSelected;
  height: 60px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  color: $primary;
  border: solid 2px $primary;
  .value {
    color: $white;
  }
}
.name {
  min-width: 50px;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0;
  text-align: center;
}
